
@{
    ViewBag.Title = "Index";
}


<!-- Page Banner Area Start -->
<div class="page-banner-area about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">About Us</h2>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="0.75s">
                        <img src="~/Public/images/banner/about-banner-bottom.png" alt="Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- About Page Section Start -->
<section class="about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 order-lg-2">
                <div class="service-single-content">
                    <h2 class="section-title mt-35 wow animated fadeInUp animated" data-wow-delay="0.35s" style="visibility: visible; animation-delay: 0.35s; animation-name: fadeInUp;">How ConCleaner <br>Works</h2>
                    <p class="wow animated fadeInUp animated" data-wow-delay="0.55s" style="visibility: visible; animation-delay: 0.55s; animation-name: fadeInUp;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p class="wow animated fadeInUp animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="service-single-img pl-50">
                    <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    <img class="wow animated fadeInUp animated" data-wow-delay="0.25s" src="~/Public/images/about/about-left.png" alt="Service Single" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Page Section End -->
<!-- About Us Section Start -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-content">
                    <h2 class="section-title mt-35 mb-25 wow animated fadeInUp" data-wow-delay="0.25s">The Story<br>of ConCleaner</h2>
                    <p class="mb-25 wow animated fadeInUp" data-wow-delay="0.5s">Accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                    <ul class="list-style-one mb-25 wow animated fadeInUp" data-wow-delay="0.75s">
                        <li>Satisfaction guaranteed</li>
                        <li>Bonded and insured</li>
                        <li>Cleaning frequencies</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-4">
                <div class="about-us-img">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="about-img-title wow animated fadeInUp" data-wow-delay="0.6s">
                        <h3>Simple price<br>per hour</h3>
                    </div>
                    <img class="wow animated fadeInUp" data-wow-delay="0.35s" src="~/Public/images/about/about-page.png" alt="About Us">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
<!-- Team Section Start -->
<section class="team-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-3">
                <div class="team-box small">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.15s">Team</h4>
                    <h2 class="section-title mb-40 wow animated fadeInUp" data-wow-delay="0.3s">ConCleaner <br>Team</h2>
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.6s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.7s">
                        <h6>Senior Customer Manager</h6>
                        <h3>Kitchens</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-1">
                <div class="team-box active">
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.5s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.6s">
                        <h6>Bathroom Cleaner</h6>
                        <h3>Diana</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-2">
                <div class="team-box">
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.7s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.8s">
                        <h6>Chief Technology Officer</h6>
                        <h3>Gareth</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-4">
                <div class="team-box">
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.2s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.3s">
                        <h6>Tile grouting scrubbed</h6>
                        <h3>Alex Thaprao</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-5">
                <div class="team-box">
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.4s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.5s">
                        <h6>Senior Operations Executive</h6>
                        <h3>Freya</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 order-xl-6">
                <div class="team-box">
                    <div class="team-img-wrap">
                        <div class="team-img wow animated fadeInUp" data-wow-delay="0.6s"></div>
                        <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    </div>
                    <div class="team-des wow animated fadeInUp" data-wow-delay="0.7s">
                        <h6>Head of Product</h6>
                        <h3>Mark Latthao</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->
<!-- Video Section Start -->
<div class="video-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="video-wrap">
                    <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    <div class="video-img">
                        <div class="video-btn">
                            <a class="mfp-iframe video-link" href="https://www.youtube.com/watch?v=7PJOXV5Iifs"><img src="~/Public/images/about/play-button.png" alt="Play Button"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Section End -->


@RenderPage("~/Views/Shared/TestimonialsView.cshtml") 



<!-- Partner Section Start -->
<section class="partner-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-2">
                <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Partner</h4>
                <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.5s">Our <br>Partner</h2>
            </div>
            <div class="col-xl-10">
                <div class="row text-xl-center">
                    <div class="col-xl-3 col-sm-6">
                        <div class="partner-item wow animated fadeInRight" data-wow-delay="0.25s">
                            <img src="~/Public/images/partner/partner-1.png" alt="Partner Image">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="partner-item wow animated fadeInRight" data-wow-delay="0.5s">
                            <img src="~/Public/images/partner/partner-2.png" alt="Partner Image">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="partner-item wow animated fadeInRight" data-wow-delay="0.75s">
                            <img src="~/Public/images/partner/partner-3.png" alt="Partner Image">
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="partner-item wow animated fadeInRight" data-wow-delay="1s">
                            <img src="~/Public/images/partner/partner-4.png" alt="Partner Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partner Section End -->

@section mycssSection{
    <link rel="stylesheet" href="~/Public/css/custom.css" />
}