<!-- Testimonials Section Start -->
<section class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Testimonials</h4>
                <h2 class="section-title mb-40 wow animated fadeInUp" data-wow-delay="0.5s">Hear From Our Clients</h2>
            </div>
            <div class="col-lg-9">
                <div class="testimonials-outer wow animated fadeInRight" data-wow-delay="0.5s">
                    <div class="testi-quote wow animated fadeInLeft" data-wow-delay="0.75s"></div>
                    <div class="single-item-carousel owl-carousel">
                        <div class="testimonial-single">

                            <div class="testimonial-details">
                                <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                                <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                                <h3>Linda</h3>
                                <h4>County Line Road</h4>

                            </div>
                            <div class="testimonial-img">
                                <img src="~/Public/images/testimonials/testimonial-1.png" alt="Testimonial Author">
                            </div>
                        </div>
                        <div class="testimonial-single">
                            <div class="testimonial-img">
                                <img src="~/Public/images/testimonials/testimonial-2.png" alt="Testimonial Author">
                            </div>
                            <div class="testimonial-details">
                                <h3>Erin Vincent</h3>
                                <h4>Dover Road</h4>
                                <p>Libero architecto voluptatibus, cum id porro provident explicabo aliquid ipsum mollitia ad. Tenetur quibusdam ex eaque, quidem numquam ipsa beatae cum repudiandae delectus.</p>
                                <p>Alias deserunt culpa earum laudantium similique est eligendi recusandae! Minus beatae dolorum nostrum, accusantium ducimus,</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem qui voluptatum,</p>
                            </div>
                        </div>
                        <div class="testimonial-single">
                            <div class="testimonial-img">
                                <img src="~/Public/images/testimonials/testimonial-3.png" alt="Testimonial Author">
                            </div>
                            <div class="testimonial-details">
                                <h3>Joel Watson</h3>
                                <h4>St Denys Road</h4>
                                <p>Alias distinctio excepturi quae facere magnam enim, repellendus aliquam, accusantium explicabo reprehenderit ipsum itaque ad totam nihil debitis corporis minima minus! Nihil eaque ab eligendi vitae voluptatibus quam nam obcaecati, ipsa praesentium voluptates.</p>
                                <p> Eaque quo blanditiis consequuntur id explicabo quidem consequatur soluta reiciendis libero, cum ab sapiente sed aliquam eligendi sint dicta. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials Section End -->