
@{
    ViewBag.Title = "Index";
}


@section demoParagraph{
    <h1>HELLOO Pricing</h1>
    <p>Lorem ipsum</p>

}



<!-- Page Banner Area Start -->
<div class="page-banner-area pricing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">Simple <br>pricing list</h2>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="0.75s">
                        <img src="~/Public/images/banner/pricing-banner-bottom.png" alt="Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Pricing Section Start -->
<section class="pricing-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="pricing-content">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Pricing</h4>
                    <h2 class="section-title mb-25 wow animated fadeInUp" data-wow-delay="0.5s">We will clean your <br>home like it was our own, with a lot of love and attention to detail!</h2>
                    <p class="mb-30 wow animated fadeInUp" data-wow-delay="0.75s">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea</p>
                    <a href="#" class="btn-style-two wow animated fadeInUp" data-wow-delay="1s">Details Pricing</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pricing-boxes">
                    <div class="pricing-box mr-35">
                        <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/pricing/price-1.png" alt="Pricing Box">
                        <div class="price-rate wow animated fadeInUp" data-wow-delay="0.8s">
                            <span class="from">From</span>
                            <span class="price">$30/Hr</span>
                            <span class="for">For home</span>
                        </div>
                    </div>
                    <div class="pricing-box">
                        <img class="wow animated fadeInUp" data-wow-delay="0.55s" src="~/Public/images/pricing/price-2.png" alt="Pricing Box">
                        <div class="price-rate wow animated fadeInUp" data-wow-delay="1s">
                            <span class="from">From</span>
                            <span class="price">$45/Hr</span>
                            <span class="for">For business</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->
<!-- Pricing Table Section Start -->
<section class="pricing-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="price-item-inner active">
                            <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                            <div class="price-item">
                                <h3>Basic</h3>
                                <h2>$45/<span>Month</span></h2>
                                <ul>
                                    <li>Regular Cleaning with material</li>
                                    <li>Regular Cleaning without material</li>
                                    <li>Deep/Spring Cleaning (Furnished Units)</li>
                                    <li>Move In Cleaning (Non Furnished)</li>
                                    <li>Scotch Guard (Furniture)</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a class="underline" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price-item-inner">
                            <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                            <div class="price-item">
                                <h3>Standard</h3>
                                <h2>$65/<span>Month</span></h2>
                                <ul>
                                    <li>Standard Cleaning with material</li>
                                    <li>Standard Cleaning without material</li>
                                    <li>Deep/Spring Cleaning (Furnished Units)</li>
                                    <li>Move In Cleaning (Non Furnished)</li>
                                    <li>Scotch Guard (Furniture)</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a class="underline" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="price-item-inner">
                            <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                            <div class="price-item">
                                <h3>Business</h3>
                                <h2>$145/<span>Month</span></h2>
                                <ul>
                                    <li>Business Cleaning with material</li>
                                    <li>Business Cleaning without material</li>
                                    <li>Deep/Spring Cleaning (Furnished Units)</li>
                                    <li>Move In Cleaning (Non Furnished)</li>
                                    <li>Scotch Guard (Furniture)</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a class="underline" href="#">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Table Section End -->
<!-- About Us Section Start -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-us-content">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">About Us</h4>
                    <h2 class="section-title mb-25 wow animated fadeInUp" data-wow-delay="0.5s">Our Goal Is to <br>Make Our Customers' Lives Better</h2>
                    <p class="mb-25 wow animated fadeInUp" data-wow-delay="0.75s">Accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
                    <ul class="list-style-one mb-25 wow animated fadeInUp" data-wow-delay="1s">
                        <li>Satisfaction guaranteed</li>
                        <li>Bonded and insured</li>
                        <li>Cleaning frequencies</li>
                    </ul>
                    <a href="#" class="btn-style-two wow animated fadeInUp" data-wow-delay="1.25s">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-4">
                <div class="about-us-img">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="about-img-title wow animated fadeInUp" data-wow-delay="0.6s">
                        <h3>Simple price<br>per hour</h3>
                    </div>
                    <img class="wow animated fadeInUp" data-wow-delay="0.35s" src="~/Public/images/about/about.png" alt="About Us">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->
