
@{
    ViewBag.Title = "Details";
}



<!-- Blog Details Area Start -->
<section class="blog-details">
    <div class="container">
        <div class="blog-thumbnail">
            <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
            <div class="thumbnail-img wow animated fadeInUp" data-wow-delay="0.25s"></div>
        </div>
        <div class="blgo-details-content">
            <h2 class="section-title">How to Make <br>Your Bed Like a Pro</h2>
            <div class="date-admin">
                <ul>
                    <li><a href="#">KAREN BROM</a></li>
                    <li><a href="#">AUG 23, 2019</a></li>
                </ul>
            </div>
            <p>Explicabo iste quos culpa pariatur, officia assumenda esse quaerat suscipit quis sunt voluptatibus neque minus debitis quia omnis dignissimos animi, a similique. Ipsam aliquam officia natus reprehenderit est impedit quibusdam molestias architecto inventore quasi dignissimos aliquid tempora harum dolor adipisci incidunt, ad placeat, dolorem magnam cum itaque quis aspernatur excepturi soluta nesciunt. Expedita magnam laudantium minima repellat amet accusantium modi. Ab itaque repudiandae quisquam quae alias provident nesciunt placeat facilis impedit expedita magnam sequi illum architecto eveniet laboriosam est quis dignissimos, porro suscipit reiciendis deleniti. Sequi, iste, nemo rem blanditiis aliquam veritatis illo numquam cumque reiciendis. Corporis magni, minus fuga officiis, optio velit, inventore tempore ratione nihil minima, sapiente iusto omnis vitae eius molestiae. Dolores nobis accusantium, atque itaque laborum corporis animi enim a alias eius magnam, neque dolor reprehenderit!</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

            <div class="blog-middle">
                <div class="row align-items-center">
                    <div class="col-lg-6 pr-lg-5">
                        <h3>Another Headline</h3>
                        <p>Temporibus facilis doloremque tempore exercitationem quidem quaerat, explicabo aperiam non, ipsa repellendus et quos labor iosam consectetur. Odit numquam qui expedita temporibuseveniet, nostrum, ut deserunt voluptate repellat deleniti itaque est amet. Dolores tempore odio iusto minima quibusdam, incidunt facilis blanditiis pariatur,</p>
                        <p>Quisquam et dicta pariatur eos vitae, nihil consequuntur temporibus suscipit corporis blanditiis sit cupiditate deleniti laborum. Culpa explicabo harum modi consequuntur dolore,</p>
                        <p> sequi excepturi, omnis suscipit deleniti natus non aliquid ullam aut minima pariatur.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="blog-img-middle pl-50">
                            <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                            <img src="~/Public/images/blog/blog-details-middle.png" alt="Blog Middle Image">
                        </div>
                    </div>
                </div>
            </div>

            <h3>Keeping Your Home Cleaner with Our Cleaning & Handyman Tasks</h3>
            <p>Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
            <p>Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,tetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet</p>
            <a href="#comment" class="theme-btn scroll">Comment</a>
        </div>

        <!-- Comments Area Start -->
        <div class="comment-section">
            <div class="comments">
                <div class="comment-item">
                    <div class="comment-img">
                        <img src="~/Public/images/blog/comment-1.png" alt="Comment Author">
                    </div>
                    <div class="comment-others">
                        <h4><span class="name-date">Tanhua tina <br>26 April 2019</span> <span class="replay"><a href="#">Replay</a></span></h4>
                        <p>Aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea</p>
                    </div>
                </div>
                <div class="comment-item replay">
                    <div class="comment-img">
                        <img src="~/Public/images/blog/comment-2.png" alt="Comment Author">
                    </div>
                    <div class="comment-others" id="comment">
                        <h4><span class="name-date">Alex Muzad <br>26 April 2019</span></h4>
                        <p>Various versions have evolved over the years</p>
                    </div>
                </div>
            </div>
            <div class="comment-form">
                <h4 class="section-title-hint">Comment</h4>
                <h2 class="section-title">Write Your Comment</h2>
                <!-- Comment Form Area Start -->
                <form action="#">
                    <input type="text" placeholder="Name*">
                    <input type="email" placeholder="Email*">
                    <textarea placeholder="Comment" rows="3"></textarea>
                    <button class="theme-btn" type="submit">Publish</button>
                </form>
                <!-- Comment Form Area End -->
            </div>
        </div>
        <!-- Comments Area End -->

    </div>
</section>
<!-- Blog Details Area End -->
<!-- Related Post Section Start -->
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 order-xl-3">
                <div class="blog-box">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Post</h4>
                    <h2 class="section-title mb-40 wow animated fadeInUp" data-wow-delay="0.5s">Related <br>Post</h2>
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.65s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="1.15s">
                        <h3><a href="#">How To Clean Your Glass Top Stove</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-box big">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.25s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.75s">
                        <h3><a href="#">How to Make Your Bed Like a Pro</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-box big">
                    <div class="blog-img wow animated fadeInUp" data-wow-delay="0.45s"></div>
                    <div class="blog-title-box wow animated fadeInRight" data-wow-delay="0.95s">
                        <h3><a href="#">Living Room Decor Ideas</a></h3>
                        <span class="date">AUG 23, 2019</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Post Section End -->
