
@{
    ViewBag.Title = "Index";
}

<!-- Page Banner Area Start -->
<div class="page-banner-area contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">Feel free to <br>contact with us</h2>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="0.75s">
                        <img src="~/Public/images/banner/contact-banner-bottom.png" alt="Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Contact Page Section Start -->
<section class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-page-content">
                    <h4 class="section-title-hint wow animated fadeInUp" data-wow-delay="0.25s">Contact Us</h4>
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.45s">Do you have a question?</h2>
                    <div class="location-details">
                        <div class="contact-item wow animated fadeInUp" data-wow-delay="0.55s">
                            <h3>Phone</h3>
                            <a href="callto:+44562423001">+44 562 4230 01</a> <br>
                            <a href="callto:+08665955501">+08 6659 555 01</a> <br>
                        </div>
                        <div class="contact-item wow animated fadeInUp" data-wow-delay="0.65s">
                            <h3>Email</h3>
                            <a href="mailto:yourmail@outlook.com">yourmail@outlook.com</a>
                        </div>
                        <div class="contact-item wow animated fadeInUp" data-wow-delay="0.75s">
                            <h3>Location</h3>
                            <p>1412 German street, Washington <br>Canadam, UK</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-page-img pl-50">
                    <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/contact/contact-right.png" alt="Contact Image">
                    <div class="contact-img-bottom">
                        <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/contact/contact-bottom.png" alt="Contact Buttom Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Page Section End -->
