
@{
    ViewBag.Title = "Details";
}




<!-- Page Banner Area Start -->
<div class="page-banner-area service-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 d-flex pr-lg-0">
                <div class="banner-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">A Stress-Free Furniture Assembly Service</h2>
                    <p class="wow animated fadeInUp" data-wow-delay="0.5s">Sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
                    <p class="wow animated fadeInUp" data-wow-delay="0.75s">Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                    <div class="banner-bottom-img wow animated fadeInUp" data-wow-delay="1.25s">
                        <img src="~/Public/images/banner/ser-det-banner-bottom.png" alt="Banner Bottom">
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner-img wow animated fadeInUp" data-wow-delay="0.75s">
                    <div class="pop-over wow animated fadeInRight" data-wow-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Area End -->
<!-- Service Single Section Start -->
<section class="service-single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 order-lg-2">
                <div class="service-single-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.35s">We’ll Bring the <br>Toolbox</h2>
                    <p class="wow animated fadeInUp" data-wow-delay="0.55s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
                    <p class="wow animated fadeInUp" data-wow-delay="0.8s">eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="service-single-img pl-50">
                    <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-single-1.png" alt="Service Single">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-single img-right">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="service-single-content">
                    <h2 class="section-title wow animated fadeInUp" data-wow-delay="0.25s">Years of <br>Experience</h2>
                    <p class="wow animated fadeInUp" data-wow-delay="0.5s">Eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <p class="wow animated fadeInUp" data-wow-delay="0.65s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</p>
                    <p class="wow animated fadeInUp" data-wow-delay="0.8s">et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="service-single-img pl-50">
                    <div class="box-shape aos-init aos-animate" data-aos="slide-down"></div>
                    <img class="wow animated fadeInUp" data-wow-delay="0.55s" src="~/Public/images/services/service-single-2.png" alt="Service Single">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Single Section End -->
<!-- Services Page Start -->
<section class="services-page single">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-5.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Light Switch Install</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="service-details.html">Electrical Service</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-6.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Ceiling & Bath Fans</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="service-details.html">Outlet Install</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-boxes">
                    <div class="box-shape" data-aos="slide-down"></div>
                    <div class="service-box ml-50 mr-50">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.25s" src="~/Public/images/services/service-7.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.35s">Every Time We Clean</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.45s"><a class="underline" href="service-details.html">Sleeping Areas</a></h3>
                    </div>
                    <div class="service-box">
                        <div class="service-box-img">
                            <img class="wow animated fadeInUp" data-wow-delay="0.5s" src="~/Public/images/services/service-8.png" alt="Service Box">
                        </div>
                        <h6 class="wow animated fadeInUp" data-wow-delay="0.6s">Flat areas hand wiped</h6>
                        <h3 class="wow animated fadeInUp" data-wow-delay="0.7s"><a class="underline" href="service-details.html">Living Areas</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Page End -->
